<!DOCTYPE html>

<html>
<head>
        <meta charset="utf-8">
        <title>MyConnectome Data Browser</title>
        {% include 'header.html' %}
        <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/jquery.dynatable.css" /> 
        <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
        <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
  
        {% include 'dropdown.html' %} 
</head>

<body class="background">

{% include 'navigation.html' %}

<div class='wrapper'>
{% include 'banner.html' %}

  <script>

$(document).ready( function() {
    $('#tabley').bind('dynatable:init', function(e, dynatable) {
        dynatable.queries.functions['thresh-search'] = function(record, queryValue) {
        }
     })

         // Initialize the dynatable
          .dynatable({
          table: {
              defaultColumnIdStyle: 'trimDash'
           },
          inputs: {
              queries: $('#thresh-search')
          },
        });
      });
    </script>

<body>
<div class="row">
    <div class="col-md-2" style="z-index:5;margin-right:80px">
            <div id="wrapper">
                <nav id="main_nav" style='margin-top:50px'>
                    <ul>
                        <li>
                            <a href="">SELECT THE FIRST VARIABLE</a>
                            <ul>
                                {% for category,subcategory in dropdown.iteritems() %}
                                <li><a href="">{{ lookup[category] }}</a>
                                <ul>
                                    <li style="background-color:#4F92AF"><a href="#">SELECT THE SECOND VARIABLE</a></li>
                                    {% for item in subcategory %}
                                    <!-- Note - if deployed in subdirectory of server, you must hard code path here-->
                                    <li><a href="/explore/{{ category }}/{{ item }}">{{ lookup[item] }}</a></li>
                                    {% endfor %}
                                </ul>
                                </li>
                                {% endfor %}
                           </ul>
                       </li>
                   </ul>
               </nav>
          </div>
    </div><!--end column-->
    {% if table is defined %}
    <div class="col-md-8" style="margin-top:150px">
    q-value (FDR corrected p-value):
   <input id="thresh-search" type=number step=0.01 />
   <table id ="tabley" class="table">
       <thead>
           <tr>
               <th>x variable</th>
               <th>y variable</th>
               <th type="number" data-dynatable-sorts="abscorr">correlation</th>
               <th>T (arima)</th>
              <th type="number" style="width:130px">number obs.</th>
               <th type="number" title="(BH) correction" data-dynatable-sorts="qval_sort">qvalue</th>
               <th type="number" class="hidden">abscorr</th>
               <th type="number" class="hidden">qval_sort</th>
           </tr>
       </thead>
       <tbody>
          {% for xvar, yvar, corval, tarima, tdrift, nobs, pval, abscor, qval_sort in table %}
          <tr>
              <td>{{ xvar }}</td>
              <td>{{ yvar }}</td>
              <td>{{ corval }}</td>
              <td>{{ tarima }}</td>
              <td>{{ nobs }}</td>
              <td>{{ pval }}</td>
              <td class="hidden">{{ abscor }}</td>
              <td class="hidden">{{ qval_sort }}</td>
          </tr>
          {% endfor %}
       </tbody>
    </table>
</div><!-- end column-->
{% endif %}
</div><!-- end row-->
</div>
</div>
<script>
