<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='description' content='MyConnectome Analyses, Poldracklab'>
    <meta name='author' content='Poldracklab'>
    <title>MyConnectome Analyses</title>

  {% include 'header.html' %}

  </head>
<body class="background">

{% include 'navigation.html' %}

<div id='wrapper'>
<div id="banner" style="position:absolute; top: 100px; background: white; height: 90px"></div>

  <div class='container'>
  <!--Banner-->
    <!-- Left Box-->
    <div class='logo_box'><h1>MyConnectome<br/>Analyses</h1>
       <div class='links'>
        <!-- Analysis Status Button: State1: there is an error -->
        {% if analysis_status == 'Check for Error' %}
        <a class='btn btn-default' href='/log' role='button' style='background-color:#2997ab;margin-bottom:40px;color:white'>{{ analysis_status }}</a>
        <!-- Analysis Status Button: State2: analyses are finished! -->
        {% elif analysis_status == 'Analysis Complete' %}
        <a class='btn btn-default' href='/explore' role='button' style='background-color:#2997ab;margin-bottom:40px;color:white'>Analysis Complete - Explore Data</a>
        {% else %}
        <a class='btn btn-default' href='#' role='button' style='background-color:#2997ab;margin-bottom:40px;color:white' disabled>{{ analysis_status }}</a>
        {% endif %}
            <ul>
               <li><a href='https://github.com/poldrack/myconnectome-vm' target='_blank'>Learn more about the MyConnectome Virtual Machine</a></li>

               <li><a href='http://myconnectome.org' target='_blank'>Learn more about the MyConnectome Project</a></li>
             </ul>
       </div>
    </div><!-- End Left Box-->

    <!-- Right Box-->
    <div class='main_box'>
        <div class="row">
            <div class="col-md-6">
                <div class="well box" style="padding-bottom:33px; padding-top:30px">
                <h2>Timeseries analyses</h2>
                    <ul>
                    {% for timeseries_url, timeseries_description, timeseries_style, timeseries_title in timeseries_context %}
                     <li><a href='{{ timeseries_url }}' style='{{ timeseries_style }}' title='{{ timeseries_title }}'>{{ timeseries_description }}</a></li>
                    {% endfor %}
                   </ul>
           </div>
        </div>
        <div class="col-md-6">
            <div class="well box">        
                <h2>RNA-seq analyses</h2>
                    <ul>
                    {% for rna_url, rna_description, rna_style, rna_title in rna_context %}
                    <li><a href='{{ rna_url }}' style='{{ rna_style }}' title='{{ rna_title }}'>{{ rna_description }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
       </div>

        <div class="row" style="padding-top:10px">
            <div class="col-md-6">
                <div class="well box" style="padding-bottom:33px; padding-top:30px">         
                <h2>Metabolomic analyses</h2>
                <ul>
                {% for meta_url, meta_description, meta_style, meta_title in meta_context %}
                <li><a href='{{ meta_url }}' style='{{ meta_style }}' title='{{ meta_title }}'>{{ meta_description }}</a></li>
                {% endfor %}
                </ul>
                </div>        
            </div>
            <div class="col-md-6">
                <div class="well box" style="padding-bottom:33px; padding-top:30px">         
                <h2>Resting state fMRI analyses</h2>
                <ul>
                {% for rsfmri_url, rsfmri_description, rsfmri_style, rsfmri_title in rsfmri_context %}
    	        <li><a href='{{ rsfmri_url }}' style='{{ rsfmri_style }}' title='{{ rsfmri_title }}'>{{ rsfmri_description }}</a></li>
                {% endfor %}		
	        </ul>
            </div>
        </div>  
    </div><!-- End Right Box-->
  </div>
</div>
<script>

// Dynamic banner
var width = 1600,
    height = 100

var svg = d3.select("#banner").append("svg")
    .attr("width", width)
    .attr("height", height)

// the data will be appended here
raw = {"letters":[{{ letters|safe }}],
       "colors":[{{ colors|safe }}],
       "x":[{{ xcoords|safe }}],
       "y":[{{ ycoords|safe }}]};

data = []
for (i = 0; i < raw.letters.length; i++) { 
  data.push({"letter":raw.letters[i],"color":raw.colors[i],"x":+raw.x[i],"y":+raw.y[i]});
}

var text = svg.selectAll("text")
    .data(data)
    .enter()
    .append("text");

var textLabels = text
    .attr("x", function(d,i) { return d.x; })
    .attr("y", function(d,i) { return d.y + 30; })
    .style("fill",function(d){ return d.color })
    .style("font-family","'Roboto Condensed', sans-serif")
    .text( function (d) { return d.letter })
    .on('mouseover.color', function(d) {
        d3.select(this).style("fill", "#2997ab");
     })

</script>
    <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
  </body>
{% include 'footer.html' %}
</html>
