<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta http-equiv="refresh" content="30" >
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='description' content='MyConnectome Analyses, Poldracklab'>
    <meta name='author' content='Poldracklab'>
    <title>MyConnectome Analyses</title>

  {% include 'header.html' %}

  </head>
<body class="background">

{% include 'navigation.html' %}

<div id='wrapper'>
<div id="banner" style="position:absolute; top: 100px; background: white; height: 90px"></div>

  <div class='container'>
  <!--Banner-->
    <!-- Left Box-->
    <div class='logo_box'><h1>MyConnectome<br/>Analyses</h1>
       <div class='links'>
            <div class="progress">
               {% if analysis_status == 'Check for Error' %}
               <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{ percent_complete }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent_complete }}%;" data-toggle="tooltip" data-placement="top" title="{{ percent_complete }}% complete">
               <span class="progress-type">{{ percent_complete }}%</span>
               {% elif analysis_status == 'Analysis Complete' %}
               <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;" data-toggle="tooltip" data-placement="top" title="Analysis complete">
               <span class="progress-type">100% Complete</span>
               {% else %}
               <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ percent_complete }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent_complete }}%;" data-toggle="tooltip" data-placement="top" title="{{ percent_complete }}% complete">
                <span class="progress-type">{{ percent_complete }}%</span>
               {% endif %}
                </div>
            </div>

           <div class="row">
                {% if analysis_status == 'Check for Error' %}
                <div class="col-md-8">
                    <div class='well box message-box' style="width:305px;margin-right: 0px;">Last complete <a href="{{ last_completed_path }}">{{ last_completed_name }}...</a></div>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-xs btn-check" style="color:white" role="button" href="/log">{{ analysis_status }}</a>
                </div>
                    <!-- Analysis Status Button: State2: analyses are finished! -->
                {% elif analysis_status == 'Analysis Complete' %}
                <div class="col-md-8">
                    <div class='well box message-box' style="width:305px;margin-right: 0px;">Analysis Complete</div>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-xs btn-check" style="padding-top:7px;padding-left:20px;width:120px" role="button" href="/explore">Explore Data</a>
                </div>
                {% else %}
               <div class="col-md-12">
                   <div class='well box message-box' style="width:380px;padding-left:5px">EST. time remaining: {{ time_remaining }} minutes</div>
               </div>
                {% endif %}
            </div><!--end row-->
            <ul>
               <li><a href='https://github.com/poldrack/myconnectome-vm' target='_blank'>Learn more about the MyConnectome Virtual Machine</a></li>

               <li><a href='http://myconnectome.org' target='_blank'>Learn more about the MyConnectome Project</a></li>
             </ul>
       </div><!-- End links -->
    </div><!-- End Left Box-->

    <!-- Right Box-->
    <div class='main_box'>
        <div class="row">
            <div class="col-md-6">
                <div class="well box" style="padding-bottom:33px; padding-top:30px">
                <h2>Timeseries analyses</h2>
                    <ul>
                    {% for timeseries_url, timeseries_description, timeseries_style, timeseries_title in timeseries_context %}
                     <li><a href='{{ timeseries_url }}' style='{{ timeseries_style }}' title='{{ timeseries_title }}'>{{ timeseries_description }}</a></li>
                    {% endfor %}
                   </ul>
           </div>
        </div>
        <div class="col-md-6">
            <div class="well box">        
                <h2>RNA-seq analyses</h2>
                    <ul>
                    {% for rna_url, rna_description, rna_style, rna_title in rna_context %}
                    <li><a href='{{ rna_url }}' style='{{ rna_style }}' title='{{ rna_title }}'>{{ rna_description }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
       </div>

        <div class="row" style="padding-top:10px">
            <div class="col-md-6">
                <div class="well box" style="padding-bottom:33px; padding-top:30px">         
                <h2>Metabolomic analyses</h2>
                <ul>
                {% for meta_url, meta_description, meta_style, meta_title in meta_context %}
                <li><a href='{{ meta_url }}' style='{{ meta_style }}' title='{{ meta_title }}'>{{ meta_description }}</a></li>
                {% endfor %}
                </ul>
                </div>        
            </div>
            <div class="col-md-6">
                <div class="well box" style="padding-bottom:33px; padding-top:30px">         
                <h2>Resting state fMRI analyses</h2>
                <ul>
                {% for rsfmri_url, rsfmri_description, rsfmri_style, rsfmri_title in rsfmri_context %}
    	        <li><a href='{{ rsfmri_url }}' style='{{ rsfmri_style }}' title='{{ rsfmri_title }}'>{{ rsfmri_description }}</a></li>
                {% endfor %}		
	        </ul>
            </div>
        </div>  
    </div><!-- End Right Box-->
  </div>
</div>
<script>

// Dynamic banner
var width = 1600,
    height = 100

var svg = d3.select("#banner").append("svg")
    .attr("width", width)
    .attr("height", height)

// the data will be appended here
raw = {"letters":[{{ letters|safe }}],
       "colors":[{{ colors|safe }}],
       "x":[{{ xcoords|safe }}],
       "y":[{{ ycoords|safe }}]};

data = []
for (i = 0; i < raw.letters.length; i++) { 
  data.push({"letter":raw.letters[i],"color":raw.colors[i],"x":+raw.x[i],"y":+raw.y[i]});
}

var text = svg.selectAll("text")
    .data(data)
    .enter()
    .append("text");

var textLabels = text
    .attr("x", function(d,i) { return d.x; })
    .attr("y", function(d,i) { return d.y + 30; })
    .style("fill",function(d){ return d.color })
    .style("font-family","'Roboto Condensed', sans-serif")
    .text( function (d) { return d.letter })
    .on('mouseover.color', function(d) {
        d3.select(this).style("fill", "#2997ab");
     })

</script>
    <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
  </body>
{% include 'footer.html' %}
</html>
