<!-- Navigation -->
    <div class="navbar navbar-default" style="background-color:transparent;z-index:2">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          </button>
        </div>
        <div class="navbar-collapse collapse" class="background">
          <ul class="nav navbar-nav navbar-right">
            <li class="farfromtop"><a href="/">Home</a></li>
            <li class="farfromtop"><a href="/log">Log</a></li>
            {% if analysis_status == 'Analysis Complete' %}
            <li class="farfromtop" style="padding-right:60px"><a href="/explore">Data Explorer</a></li>
            {% else %}
            <li class="farfromtop" style="padding-right:60px"><a href="#"></a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

